body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: black;
    background-color: #ffc;
    margin: 20px;
    padding: 0;
}

/* This is a comment, by the way */

p {
    line-height: 21px;
}

h1 {
    color: #ffc;
    background-color: #0000FF;
    font-size: 2em;
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;
    font-style: italic;
    text-align: center;
    letter-spacing: 0.5em;
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
    border-bottom-color: #1919FF;
}

h2 {
    color: white;
    background-color: #4D4DFF;
    font-size: 1.5em;
    margin: 0;
    padding: 2px;
    padding-left: 14px;
    border-bottom-style: solid;
    border-bottom-width: 0.25em;
    border-bottom-color: #7171FF;
}

h3 {
    color: white;
    background-color: #7171FF;
    margin: 0;
    font-size: 1.25em;
    border-bottom-style: solid;
    border-bottom-width: 0.25em;
    border-bottom-color: #9494FF;
}

img {
    border-style: dashed;
    border-width: 2px;
    border-color: #ccc;
}

a {
    text-decoration: none;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}

warning {
    color: #c00;
    font-style: italic;
}

li {
}

table {
    background-color: #ccc;
}

[class="incompleteEvent"]
{
 color: red;
 background:yellow;
    font-style: italic;
    font-size: 1em;
}

[class="emptyEvent"]
{
 color: white;
 background:red;
    font-style: italic;
    font-size: 1em;
}

[class="completeEvent"]
{
 background:green;
}

[class="toIgnoreEvent"]
{
 background:gray;
}

[class="badinput"]
{
	color: red;
	background:yellow;
    font-style: italic;
    font-size: 1em;
}

[class="invisibleinput"]
{
	color: black;
	background:black;
}

[class="goodinput"]
{
}

